@use '@styles/mixins' as *;
@use '@styles/colors' as *;


.home {
    &-hero {
        @include size(100%, 100svh);
        padding-block: 6.7rem 5rem;

        @include sm {
            height: unset;
            padding-top: 11.2rem;
        }

        .container {
            height: 100%;

            grid-template-rows: auto 1fr auto;

            > * {
                height: fit-content;
            }
        }

        &-top {
            grid-column: 1/4;
            grid-row: 1/2;

            margin-top: 12rem;

            @include sm {
                margin-top: unset;
                grid-column: 1/-1;
                grid-row: 3/4
            }
        }

        &-img {
            @include size(43.5rem, 24.1rem);

            @include sm {
                @include size(100%, unset);
                aspect-ratio: 1.8062827225;
            }

            &-wrapper {
                grid-column: 13/-1;
                grid-row: 2/3;

                margin-block: auto;

                @include sm {
                    grid-column: 1/-1;
                }
            }
        }


        &-title {
            grid-column: 1/13;
            grid-row: 3/4;

            @include sm {
                grid-column: 1/-1;
                grid-row: 1/2;
            }
        }

        &-label {
            margin-bottom: 1.2rem;
        }

        &-desc {
            opacity: .65;
        }

        &-scroll {
            grid-column: 15/-1;
            grid-row: 3/4;
            align-self: end;
            text-align: end;

            opacity: .65;
            
            @include sm {
                display: none;
            }
        }
    }
}