@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.home {
    &-project {
        padding-block: 15.5rem 0rem;
        contain: paint;

        @include sm {
            padding-block: 6rem;
        }

        &-heading {
            grid-column: 1/-1;

            display: flex;
            align-items: end;
            column-gap: 3rem;

            @include sm {
                flex-direction: column;
                align-items: unset;
                column-gap: unset;
                row-gap: 1rem;
            }
        }

        &-count {
            &-wrapper {
                flex-shrink: 0;
                margin-bottom: 2rem;
                letter-spacing: -0.02em;

                opacity: .9;

                @include sm {
                    display: flex;
                    column-gap: 1rem;

                    @include text(22);
                }
            }
        }

        &-list {
            grid-column: 1/-1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: var(--grid-gap);
            row-gap: 6rem;

            margin-top: 12rem;

            @include sm {
                margin-top: 4rem;
                grid-template-columns: 1fr;
            }
        }

        &-line {
            grid-column: 1/-1;
            
            margin-top: 8rem;

            opacity: .2;
        }
    }
}


.project {
    &-item {

        @include hover {
            .project-item-thumb img {
                transform: scale(1.1);
                filter: contrast(1.2) brightness(.5);
            }

            .project-item-view {
                transform: scale(1);
                opacity: 1;
            }
        }

        &-view {
            position: absolute;
            z-index: 2;
            background-color: $cl-white;
            padding: 1.2rem;

            // pointer-events: none;
            // user-select: none;

            opacity: 0;
            transform: scale(.9);

            transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        &-thumb {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            height: 53.9rem;
            margin-bottom: 2.4rem;
            overflow: hidden;

            @include sm {
                height: 20.7rem;

                margin-bottom: 1.6rem;
            }

            &-inner {
                align-self: start;
                @include size(100%, 110%);

                img {
                    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
                    filter: unset;
                    will-change: transform, filter;
                }
            }
        }

        &-heading {
            display: flex;
            column-gap: .8rem;
            align-items: end;

            margin-bottom: 1.2rem;

            @include sm {
                column-gap: unset;
                align-items: unset;
                flex-direction: column;
            }
        }

        &-name {
            @include sm {
                @include text(22);

                margin-bottom: .8rem;
            }

            &-wrapper {
                display: flex;

                @include sm {
                    justify-content: space-between;
                    align-items: center;
                }
            }

            &-ic {
                display: none;

                @include sm {
                    display: block;

                    @include size(1.8rem);
                    color: $cl-orange;
                }
            }
        }
        &-scope {
            opacity: .65;

            margin-bottom: .12em;

            @include sm {
                @include text(16);
            }
        }

        &-no {
            margin-left: auto;
            opacity: .65;

            @include sm {
                display: none;
            }
        }

        &-desc {
            line-height: 1.4em;
            opacity: .9;

            @include sm {
                @include text(16);
            }
        }
    }
}