::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: .6s;
}


html {
    &.lenis {
        height: auto;
    }
}

.lenis {
    &.lenis-smooth {
        scroll-behavior: auto;
    }

    &.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    &.lenis-stopped {
        overflow: hidden;
    }

    &.lenis-scrolling iframe {
        pointer-events: none;
    }
}


.main {
    position: relative;
    z-index: 2;
    background-color: $cl-white;
}

.main {
    transition: color .3s ease-in, background-color .3s ease-in;

    &, &.light-theme {
        color: $cl-black;
        background-color: $cl-white;
    }

    &.dark-theme {
        color: $cl-white;
        background-color: $cl-black;
    }
}

.richtext {
    @include text(22);
    line-height: 1.4;

    .block-img {
        width: 100%;
        aspect-ratio: 1.6064;

        margin-bottom: 4rem;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    p {
        margin-bottom: 4rem;
    }

    ul {
        margin-bottom: 4rem;
        
    }
}