@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.home {
    &-about {
        padding-block: 15rem 10rem;

        @include sm {
            padding-block: 6rem;
        }

        &-title {
            grid-column: 1/-1;
            grid-row: 1/2;
            margin-bottom: 12rem;

            @include sm {
                margin-bottom: 4rem;
            }
        }

        &-preamble, &-experience {
            grid-column: 1/11;
            display: grid;

            grid-template-columns: repeat(10, 1fr);
            column-gap: var(--grid-gap);

            @include sm {
                grid-column: 1/-1;
                grid-template-columns: 1fr;
            }

            &-label {
                grid-column: 1/4;
                height: fit-content;

                opacity: .9;

                @include sm {
                    grid-column: 1/-1;

                    margin-bottom: 2.4rem;
                }
            }
        }

        &-preamble {
            grid-row: 2/3;
            margin-bottom: 8rem;

            @include sm {
                grid-row: 3/4;
                margin-bottom: 6rem;
            }

            &-content {
                grid-column: 5/-1;
                font-size: 2.2rem;
                line-height: 1.4em;

                opacity: .9;

                @include sm {
                    grid-column: 1/-1;
                }


                p {
                    margin-bottom: 4rem;   

                    @include sm {
                        font-size: 1.8rem;
                        margin-bottom: 2.4rem;
                        letter-spacing: -0.02em;
                    }
                }

                strong {
                    font-size: 3.2rem;
                    line-height: 1.3em;
                    font-weight: normal;
                    letter-spacing: -0.02em;

                    @include sm {
                        font-size: 2.2rem;
                        line-height: 1.4em;
                        letter-spacing: unset;
                    }
                }

                *:last-child {
                    margin-bottom: unset;
                }
            }
        }

        &-experience {
            grid-row: 3/4;

            @include sm {
                grid-row: 4/5;
            }

            &-label {
                margin-top: 4rem;

                @include sm {
                    margin-top: unset;
                }
            }

            &-list {
                grid-column: 5/-1;

                @include sm {
                    grid-column: 1/-1;
                }
            }

            &-item {
                position: relative;
                display: flex;
                flex-direction: column;
                row-gap: .8rem;

                padding-block: 2.4rem;

                @include sm {
                    @include text(18);
                }

                &-name_role, &-location_milestone {
                    display: flex;
                    justify-content: space-between;

                    > * {
                        flex-shrink: 0;
                    }
                }

                &-location_milestone {
                    opacity: .65;
                }

                .line {
                    position: absolute;
                    left: 0;

                    opacity: .2;

                    &-top {
                        top: 0;
                    }

                    &-bot {
                        bottom: 0;
                    }
                }
            }
        }

        &-avatar {
            position: relative;
            grid-column: 13/-1;
            grid-row: 2/4;

            @include sm {
                grid-column: 1/-1;
                grid-row: 2/3;

                margin-bottom: 4rem;
            }

            &-inner {
                @include size(100%, 29.3rem);
            }

            &-sticky {
                position: sticky;
                top: calc(100svh - 34.7rem - 4rem);

                display: flex;
                flex-direction: column;
                align-items: end;

                @include sm {
                    align-items: unset;
                }
            }
        }

        &-resume {
            display: flex;
            align-items: center;
            column-gap: .4rem;

            margin-top: 2.4rem;
            letter-spacing: -0.02em;

            @include sm {
                @include text(16);
            }
        }
    }
}