@use '@styles/mixins' as *;
@use '@styles/colors' as *;


.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 1;

    padding-top: 9.2rem;

    background-color: rgb(var(--cl-black));
    color: $cl-white;

    @include sm {
        position: unset;
        left: unset;
        bottom: unset;
    }

    &-preamble {
        grid-column: 1/4;

        @include sm {
            grid-column: 1/-1;
            margin-bottom: 5rem;
        }
    }

    &-label {
        opacity: .7;
        margin-bottom: 1.8rem;

        @include sm {
            @include text(18);
        }
    }

    &-desc {
        opacity: .5;

        // letter-spacing: -0.015em;

        @include sm {
            margin-right: -.2rem;
        }
    }

    &-mail {
        width: 100%;

        @include sm {

            @include text(32);
        }

        &-wrapper {
            grid-column: 7/-1;

            @include sm {
                grid-column: 1/-1;
            }
        }

        &-txt {
            display: inline;
            padding-block: .2em;
            margin-block: -0.2em;

            overflow: hidden;
            overflow-wrap: break-word;

            &-sm {
                margin-left: 1rem;

                @include sm {
                    display: inline-block;
                    margin-left: unset;
                }

                span {
                    opacity: .5;
                }
            }
        }

        @include hover {
            .footer-mail-txt {
                color: $cl-orange;
            }
        }
    }

    &-social {
        grid-column: 7/-1;
        display: flex;
        margin-top: 6rem;

        @include sm {
            position: relative;
            grid-column: 1/-1;
            display: flex;
            column-gap: var(--grid-gap);

            margin-block: 4rem;
            padding-top: 4rem;
        }

        &-label {
            margin-right: 8.3rem;
            opacity: .5;

            @include sm {
                width: 100%;
                margin-right: unset;
            }
        }

        &-list {
            display: flex;
            column-gap: 4rem;
            color: $cl-orange;

            @include sm {
                width: 100%;
                flex-direction: column;

                row-gap: 1rem;
            }
        }

        .line {
            display: none;
            position: absolute;
            opacity: .2;

            @include sm {
                display: block;
                top: 0;
            }
        }
    }

    &-ft {
        position: relative;

        grid-column: 1/-1;
        margin-inline: calc(-1 * var(--container-padding));
        padding-inline: var(--container-padding);

        display: flex;
        justify-content: space-between;

        padding-block: 2rem;
        margin-top: 13rem;

        @include sm {
            flex-direction: column;
            margin-top: unset;
            padding-top: unset;
        }


        &-copy {
            opacity: .3;

            @include sm {
                margin-bottom: 1rem;

                @include text(16);
            }
        }

        &-recap {
            @include sm {
                max-width: 27rem;
                line-height: 1.4;

                @include text(16);
            }

            span {
                opacity: .3;
            }
        }

        .line {
            position: absolute;
            left: 0;

            opacity: .2;

            &-top {
                top: 0;

                @include sm {
                    position: relative;
                    margin-bottom: 1.6rem;
                }
            }
        }
    }
}