@use '@styles/mixins' as *;
@use '@styles/colors' as *;


.proj-dtl-body {
    padding-top: 10rem;

    @include sm {
        padding-top: unset;
    }

    // @include text(22);

    // * {
    //     @include text(22);
    // }


    * strong {
        font-weight: 500;
    }

    ul {
        list-style: none;
        padding-left: 3.3rem;

        @include sm {
            padding-left: 2rem;
        }

        li {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                display: block;
                @include size(.6rem);
                background-color: currentColor;
                border-radius: 100vmax;

                top: 1.1rem;
                left: -2rem;

                @include sm {
                    top: .7rem;
                    left: -1.4rem;
                }
            }
        }
    }
    

    &-thumb {
        @include size(100%, 101.25rem);
        overflow: hidden;

        @include sm {
            height: 25rem;
        }

        &-wrapper {
            grid-column: 1/-1;
            margin-bottom: 10rem;

            @include sm {
                margin-bottom: 6rem
            }
        }

        &-inner {
            @include size(100%, 110%);
        }
    }

    &-label {
        margin-bottom: 2rem;

        @include sm {
            margin-bottom: 1.2rem;
            @include text(18);
        }
        
        &-wrapper {
            grid-column: 1/4;

            @include sm {
                grid-column: 1/-1;
            }
        }
    }
    &-sub {
        opacity: .65;
    }
    &-desc {
        grid-column: 9/-1;
        line-height: 1.4;

        @include sm {
            grid-column: 1/-1;
        }

        p {
            margin-bottom: 4rem;

            &:has(~ ul) {
                margin-bottom: unset;
            }
        }

        strong {
            font-weight: 500;
        }

        *:last-child {
            margin-bottom: unset;
        }
    }

    &-block {
        grid-column: 1/-1;

        display: grid;
        column-gap: var(--grid-gap);
        grid-template-columns: repeat(var(--grid-column), 1fr);
        grid-template-rows: auto;

        margin-bottom: 10rem;

        @include sm {
            margin-bottom: 6rem;
        }

        > div:last-child {
            margin-bottom: unset;
        }

        &:last-child {
            margin-bottom: 12rem;

            @include sm {
                margin-bottom: 6rem;
            }
        }
    }
    &-subdesc {
        position: relative;
        padding-block: 3.2rem;

        &-wrapper {
            grid-column: 9/-1;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: var(--grid-gap);
            row-gap: 3.2rem;

            @include sm {
                grid-column: 1/-1;
                grid-template-columns: 1fr;
            }
        }

        &-title {
            margin-bottom: 1.6rem;

            @include sm {
                @include text(24);
                margin-bottom: 1.2rem;
            }
        }

        &-desc {
            opacity: .9;
        }

        .line {
            position: absolute;
            top: 0;
            opacity: .3;
        }
    }

    &-label-wrapper, &-desc, &-subdesc-wrapper {
        margin-bottom: 6rem;

        &.gap-off {
            margin-top: 0rem;
        }

        @include sm {
            margin-bottom: 3.2rem;
        }
    }
    &-bigimg {
        width: 100%;

        &-wrapper {
            grid-column: 1/-1;

            display: grid;
            row-gap: 2rem;

            margin-bottom: 6rem;
        }

        &-txt {
            opacity: .5;
            margin-top: 1.4rem;

        }
    }
    &-smallimg {
        width: 100%;

        &-wrapper {
            grid-column: 1/-1;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: var(--grid-gap);
            row-gap: var(--grid-gap);

            margin-bottom: 2rem;


            @include sm {
                grid-template-columns: 1fr;
            }

        }

        &-txt {
            opacity: .5;
            margin-top: 1.4rem;
        }
    }

    &-group_content {
        &-wrapper {
            grid-column: 1/-1;

            display: grid;
            grid-template-columns: repeat(var(--grid-column), 1fr);
            row-gap: 6rem;
            margin-bottom: 4rem;

            @include sm {
                row-gap: 3.2rem;
            }
        }

        &-content {
            grid-column: 9/-1;

            @include sm {
                grid-column: 1/-1;
            }

            &-title {
                margin-bottom: 2.4rem;

                @include sm {
                    margin-bottom: 1.2rem;
                }
            }

            &-desc {
                p {
                    margin-bottom: 2.4rem;
                }
            }
        }

        &-img {
            grid-column: 1/-1;
        }
    }
    &-proposed_solutions-group_content-wrapper {
        margin-top: -14rem;
    }

    &-progress {

    }

    &-final_design {

    }

    &-takeaway {

    }

    &-coming {
        grid-column: 9/-1;

        margin-bottom: 12rem;

        @include sm {
            grid-column: 1/-1;
        }


        &-title {
            margin-bottom: 1.6rem;
        }
    }
}