---
import "@styles/global.scss"; 
import Header from "@/components/header/header.astro";
import Footer from "@/components/footer/footer.astro";
import Theme from "@/components/theme/theme.astro";

import GridDebugger from "@/components/gridDebugger/gridDebugger.astro";
import MainScript from "@/js/main";

import ViewTransitions from "astro/components/ViewTransitions.astro";
const { title, isWhiteBg } = Astro.props;

const pathname = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en" class=`${isWhiteBg && 'white'}`>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=`on-load ${isWhiteBg && 'white'}`>
		<script>
			import gsap from "gsap";
			import ScrollTrigger from "gsap/ScrollTrigger";
			import { getLenis } from "@/js/core/lenis";

			const lenis = getLenis();

			window.gsap = gsap;
			window.ScrollTrigger = ScrollTrigger;

			gsap?.registerPlugin(ScrollTrigger);
			gsap?.defaults({
				ease: "none",
				duration: 1,
			});
			ScrollTrigger.getAll().forEach(triggers => {
				triggers.update()
				triggers.refresh()
			})
			
			window.addEventListener('beforeunload', (event) => {
				lenis?.scrollTo(0, {
					immediate: true,
					force: true
				})
			});
		</script>
		<!-- <Theme /> -->
		 <ViewTransitions/>
		<Header isWhiteBg={isWhiteBg}/>
		<main class={`main ${isWhiteBg && 'white'}`}>
			<slot />
		</main>
		<Footer/>
		<GridDebugger/>
		<MainScript client:only="MainScript" path={pathname}/>

		<script>
			setTimeout(() => {
				document.querySelector("body").classList.remove("on-load");
			}, 100);
		</script>
	</body>
</html>
